{% extends 'base.html' %}
<!--  -->
{% block content %}
<!--  -->
<div class="text-content">
    <p>
        Notepile is a set of personal notes on various topics in software and
        web development. As it is a work in progress, I will be adding and
        changing both the notes and the interface over time.
    </p>
    <p>
        The site is intended to be a consolidated set of brief references that I
        can access from any location without the need to log into Github or some
        other account.
    </p>
    <p>
        If you find the site useful and want to recommend layout improvments,
        additional material or correct any errors, send a message to
        dev@gruntlebeard.com.
    </p>
</div>
<!--  -->
{% endblock content %}
