{% extends 'base.html' %}
<!--  -->
{% block content %}
<!--  -->
<div class="text-content">
    <p>
        Notepile is a set of personal notes on various software and web
        development technologies. It is a work in progress and I will be adding
        additional material and tweaking the interface over time.
    </p>
    <p>
        The site is intended to provide me with a quick reference from any
        location without the need to log into Github or any other account.
    </p>
    <p>
        If you find the site useful and want to recommend layout improvments,
        additional material or correct any errors I made, send me a message at
        dev@gruntlebeard.com.
    </p>
</div>
<!--  -->
{% endblock content %}
