{% extends 'base.html' %}
<!--  -->
{% block content %}
<!--  -->
<div class="text-content">
  <p>
    Notepile is a set of personal notes on various topics in information technology, software development, and web
    development. It is a work in progress, so I will be adding and changing both
    the notes and the interface over time.
  </p>
  <p>
    The site is intended to be a consolidated set of brief references that I can
    access from any location without the need to log into an account like Github
    or do extensive searching with search engines and reference articles.
  </p>
  <p>
    The notes themselves are meant to be quick reminders more than complete studies of
    a topic. Their purpose is to provide syntax and key concept reference after
    a quick scan of their content. Although many notes also have web links to
    more comprehensive information on the given topic.
  </p>
  <p>
    If you find the site useful and want to recommend layout improvments,
    additional material or correct any errors, send a message to
    dev@gruntlebeard.com.
  </p>
</div>
<!--  -->
{% endblock content %}
