html,
body {
    font-size: 1.07rem;
}

header {
    height: 60px;
    margin-bottom: 50px;
}

.navbar {
    padding: 10px 0;
}

.navbar .container-fluid {
    padding: 0 80px;
}

.topbar-links {
    font-size: 1rem;
    font-weight: 500;
    color: #999;
    text-decoration: none;
    padding: 10px 20px;
}

.topbar-links:hover {
    color: #eee;
}

.navbar-toggler {
    font-size: 1rem;
    /* font-style: italic; */
    font-weight: 500;
    padding: 10px;
    border: none;
}
/* 
.navbar-toggler:hover {
    color: #eee;
} */

.navbar-toggler:focus {
    box-shadow: none;
}

#offcanvasNavbar {
    width: 200px;
}

.offcanvas-header button {
    margin: auto;
}

.offcanvas-header button span {
    color: #000;
}

.offcanvas-body ul {
    text-align: right;
}

.nav-link {
    color: #777;
}

.navbar-nav .nav-link.active {
    color: black;
}

.nav-link:hover {
    color: black;
}

.content {
    width: 100%;
    margin: auto;
}

.page-title {
    text-align: center;
    margin-bottom: 50px;
}

.content {
    max-width: 100%;
    margin: auto;
}

.text-content {
    max-width: 600px;
    margin: auto;
}

.card-stack {
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 120px;
    width: 400px;
    margin: auto;
    margin-bottom: 40px;
}

.card:hover {
    background-color: #efefef;
}

.card a {
    text-decoration: none;
}

.card-title {
    margin-bottom: 10px;
}

.card-text {
    font-style: italic;
    font-size: 14px;
    padding-left: 20px;
}

.card-text p {
    margin: 0;
}

/* MODIFIES RULE FROM PRISM.CSS */
pre[class*="language-"] {
    /* padding: 1em; */
    margin: 1rem 0;
    /* overflow: auto; */
    /* border-radius: 0.3em; */
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.detail {
    max-width: 800px;
    margin: auto;
}

.detail .back-link p {
    margin-bottom: 2rem;
}

.detail .back-link a {
    color: rgb(0, 0, 185);
    text-decoration: none;
    font-style: italic;
}

.detail .back-link a:hover {
    color: rgb(72, 72, 238);
}

.detail-dates p {
    font-style: italic;
    font-size: 0.8rem;
    /* font-weight: 900; */
    margin-bottom: 5px;
}

.detail-body h1,
.detail-body h2,
.detail-body h3,
.detail-body h4,
.detail-body h5,
.detail-body h6 {
    margin-bottom: 2rem;
}

.detail-body h4,
.detail-body h5,
.detail-body h6 {
    font-style: italic;
}

.detail-body p {
    padding-left: 1em;
}

table {
    width: 90%;
    margin: auto;
    border: solid black 1px;
}

th {
    background-color: #ddd;
}

th,
td {
    padding: 2px 5px;
    border: solid #555 0.2px;
}
